
# Geral

src/*/.vscode
src/*/node_modules
src/*/.env

# Firmware

src/firmware/.pio
src/firmware/include/secrets.h


# HMI

src/hmi/.angular
src/hmi/src/environments/environment.development.ts
src/hmi/src/environments/environment.ts
