# Configurações da Base de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

# Configurações do MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USER=user
MQTT_PASS=password


# Ambiente (development ou production)
NODE_ENV=development