<div class="page-container">
  <div class="page-header-container">
    <div class="title-area">
      <div class="breadcrumb">Gerenciamento / Infraestrutura</div>
      <h2>Importar Equipamentos</h2>
    </div>
  </div>

  <div class="form-container">
    <form [formGroup]="importForm" (ngSubmit)="salvar()">
      <div class="form-row">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="full-width">
          <mat-label>Unidade Operacional</mat-label>
          <input type="text" matInput formControlName="unidade" [matAutocomplete]="autoUnidade" />
          <mat-icon matPrefix>business</mat-icon>
          <mat-autocomplete #autoUnidade="matAutocomplete">
            @for (unidade of filteredUnidades | async; track unidade) {
              <mat-option [value]="unidade">{{ unidade }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="full-width">
          <mat-label>SmartLock de Destino</mat-label>
          <input type="text" matInput formControlName="smartlock" [matAutocomplete]="autoLock" />
          <mat-icon matPrefix>lock</mat-icon>
          <mat-autocomplete #autoLock="matAutocomplete">
            @for (lock of filteredSmartlocks | async; track lock) {
              <mat-option [value]="lock">{{ lock }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="form-row file-upload-row">
        <input
          type="file"
          #fileInput
          (change)="onFileChange($event)"
          accept=".csv"
          style="display: none"
        />

        <button mat-stroked-button type="button" (click)="fileInput.click()" class="upload-btn">
          <mat-icon>upload_file</mat-icon>
          Selecionar Arquivo CSV
        </button>

        <span class="file-name">
          @if(nomeArquivoSelecionado){
            {{ nomeArquivoSelecionado }}
        }@else {
            {{noFile}}
        }
        </span>
        <ng-template #noFile>
          <span class="file-name placeholder"
            >Nenhum arquivo selecionado (Formatos aceitos: .csv)</span
          >
        </ng-template>
      </div>

      @if (dadosImportados.length > 0) {
        <div class="preview-container">
          <h3>Dados detectados no arquivo ({{ dadosImportados.length }} itens):</h3>

          <div class="table-wrapper">
            <table mat-table [dataSource]="dadosImportados" class="mat-elevation-z1">
              <ng-container matColumnDef="uid">
                <th mat-header-cell *matHeaderCellDef>UID</th>
                <td mat-cell *matCellDef="let element">{{ element.uid }}</td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>Tipo de Equipamento</th>
                <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
              </ng-container>

              <ng-container matColumnDef="patrimonio">
                <th mat-header-cell *matHeaderCellDef>Número de Patrimônio</th>
                <td mat-cell *matCellDef="let element">{{ element.patrimonio }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      }

      <div class="form-actions">
        <button mat-stroked-button type="button">Cancelar</button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="importForm.invalid || dadosImportados.length === 0"
        >
          Confirmar Importação
        </button>
      </div>
    </form>
  </div>
</div>
