.main-navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 1.5rem !important;
  color: #1e293b;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height:100%;
  
  .brand-icon {
    color: #f97316;
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
  
  img{
    height:80%;
  }
}

.divider-vertical {
  width: 1px;
  height: 24px;
  background-color: #e2e8f0;
  margin: 0 1.25rem;
}

.navbar-menu {
  display: flex;
  gap: 4px;
  height: 100%;
  align-items: center;

  .menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: #475569;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;

    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }

    .arrow-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: -4px;
    }

    &:hover {
      background-color: #f1f5f9;
      color: #0f172a;
    }
  }

  .active-menu-item {
    background-color: #f8fafc;
    color: #f97316;
    font-weight: 600;
  }
}

/* Seção de Perfil */
.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f1f5f9;
  }

  .user-avatar {
    width: 36px;
    height: 36px;
    background-color: #cbd5e1;
    color: #334155;
    font-weight: 600;
    font-size: 0.85rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover; // aplica-se quando o elemento é uma <img>
  }

  .user-meta {
    display: flex;
    flex-direction: column;

    .user-name {
      font-size: 0.85rem;
      font-weight: 600;
      color: #1e293b;
      line-height: 1.2;
    }

    .user-role {
      font-size: 0.75rem;
      color: #64748b;
    }
  }

  .arrow-icon-profile {
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: #64748b;
  }
}

.icon-notification-btn {
  color: #64748b;
}