# Configurações da Base de Dados
URL_API=http://localhost:3000

# Configurações do MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USER=user
MQTT_PASS=password


# Ambiente (development ou production)
NODE_ENV=development
PORT=3001