<mat-toolbar class="main-navbar mat-elevation-z1">
  <div class="navbar-left">
    <div class="brand-logo" routerLink="/">
      <app-logo></app-logo>
    </div>

    <div class="divider-vertical"></div>

    <nav class="navbar-menu">
      <a routerLink="/dashboard" routerLinkActive="active-menu-item" class="menu-item">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a routerLink="/movimentacoes/lista" routerLinkActive="active-menu-item" class="menu-item">
        <mat-icon>important_devices</mat-icon> Movimentações
      </a>
      <button class="menu-item" [matMenuTriggerFor]="relatoriosMenu">
        <mat-icon>analytics</mat-icon> Relatórios
        <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
      </button>
      @if (usuario$ | async; as usuario) {
        @if (usuario.is_admin) {
          <button class="menu-item" [matMenuTriggerFor]="cadastrosMenu">
            <mat-icon>settings_applications</mat-icon> Gerenciamento
            <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
          </button>
        }
      }
    </nav>
  </div>

  <mat-menu #cadastrosMenu="matMenu" class="custom-navbar-menu">
    <a mat-menu-item routerLink="/usuarios/lista">
      <mat-icon>badge</mat-icon> <span>Usuários</span>
    </a>
    <a mat-menu-item routerLink="/unidades/lista">
      <mat-icon>apartment</mat-icon> <span>Unidades</span>
    </a>
    <a mat-menu-item routerLink="/equipamentos/lista">
      <mat-icon>devices</mat-icon> <span>Equipamentos</span>
    </a>
    <a mat-menu-item routerLink="/smartlocks/lista">
      <mat-icon>dns</mat-icon> <span>SmartLocks</span>
    </a>
  </mat-menu>

  <mat-menu #relatoriosMenu="matMenu" class="custom-navbar-menu">
    <a mat-menu-item routerLink="/relatorios/disponibilidade">
      <mat-icon>inventory</mat-icon> <span>Disponibilidade</span>
    </a>
  </mat-menu>

  <div class="navbar-right">
    <button mat-icon-button class="icon-notification-btn" aria-label="Notificações">
      <mat-icon matBadge="3" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
    </button>

    <div class="divider-vertical"></div>

    @if (usuario$ | async; as usuario) {
      <div class="profile-section" [matMenuTriggerFor]="profileMenu">
        @if (usuario.avatar) {
          <img [src]="usuario.avatar" [alt]="usuario.nome" class="user-avatar" />
        } @else {
          <div class="user-avatar">{{ obterIniciais(usuario.nome) }}</div>
        }
        <div class="user-meta">
          <span class="user-name">{{ usuario.nome }}</span>
          <span class="user-role">{{ usuario.email }}</span>
        </div>
        <mat-icon class="arrow-icon-profile">expand_more</mat-icon>
      </div>
    }

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="themeService.toggleTheme()">
  <mat-icon matListItemIcon>{{ themeService.isDarkTheme() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  <span matListItemTitle>{{ themeService.isDarkTheme() ? 'Escuro' : 'Claro' }}</span>
</button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> <span>Sair do Sistema</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
